@import url("https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900");

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #ff0000; 
    --secondary-color: #00ff00; 
    --accent-color: #0000ff;
    --additional-accent-color: #ffa500; 
    --heading-font: "Arial", sans-serif; 
    --paragraph-font: "Arial", sans-serif; 
    --navigation-bg-color: #ffffff; 
    --navigation-link-color: #333333; 
    --navigation-hover-link-color: #666666; 
    --navigation-hover-bg-color: #cccccc; 
  }

  body {
    font-family: var(--paragraph-font); 
    max-width: 960px; 
    padding: 20px; 
  }
  
  

h1, h2 , h3, h4, h5, h5{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--navigation-bg-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--navigation-link-color)
}

nav a:hover{
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-bg-color);
}

