@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #49a397; 
  --secondary-color: #34495e; 
  --text-color: #ffffff; 
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 20px;
}

header img {
  max-height: 80px; 
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 20px;
}

main {
  position: relative;
}

.trip {
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
}

.trip img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px;
}

.trip h3 {
  color: var(--primary-color);
  margin-top: 20px;
}

.trip p {
  color: #ccbcbc; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th, table td {
  border: 1px solid #439bb1;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: var(--primary-color);
  color: white;
}

table td {
  background-color: #9e7ac0;
}

section:nth-child(even) {
  background-color: #a8872b;
}

footer {
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
  text-align: center;
}

footer p {
  margin: 0;
}

.sociallinks {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.sociallinks a {
  margin-right: 10px;
}

.sociallinks img {
  width: 30px;
}
